<h1>Patient Server</h1>

<p>
  <strong>Base URL</strong>
  <code><%= @patient_server.base %></code>
</p>

<% if alert %>
<h3 style="color:red;">Error</h3>
<% else %>
<h3>Metadata (compatability statement)</h3>
<% end %>

<code class="json" style="width:max-content;">
  <%= @metadata %>
</code>
