<%# param: identity_matching_request - IdentityMatchingRequest instance with errors %>

<div class="alert alert-danger">
  <h2><%= pluralize(identity_matching_request.errors.count, "error") %> occurred:</h2>

  <ul>
    <% identity_matching_request.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
