<h1>New identity matching request</h1>

<p class="lead">
  Will execute <code><%= session[:base] %>/Patient/$match</code>
  <%= link_to "Change Server", root_url, class: "btn btn-sm btn-secondary ms-3" %>
</p>

<%= render "form", identity_matching_request: @identity_matching_request %>

<br>

<div>
  <%= link_to "See previous identity matches", identity_matching_requests_path %>
</div>
