<h1>New identity matching request</h1>

<p class="lead">Executing <code>$match</code> operation at <a href="<%= session[:base] %>"><%= session[:base] %></a></p>

<%= render "form", identity_matching_request: @identity_matching_request %>

<br>

<div>
  <%= link_to "Back to identity matching requests", identity_matching_requests_path %>
</div>
