<h1 class="my-2">Editing Identity</h1>

<%= render "form", identity_matching: @identity_matching %>

<br>

<div>
  <%= link_to "Back", :back %> |
  <%= link_to "See previous identity matches", identity_matchings_path %>
</div>
