<h1 class="w-100 text-center">Privacy Policy</h1>

<blockquote class="blockquote border-start border-5 border-danger rounded bg-light p-3 m-3 shadow">
    <h6>This application is solely for development and demonstration purposes.</h6>
</blockquote>

<p class="lead">
    This is a client reference implementation for
    <a href="https://build.fhir.org/ig/HL7/fhir-identity-matching-ig/index.html">Interoperable Digital Identity and Patient Matching</a>
    and
    <a href="https://build.fhir.org/ig/HL7/fhir-udap-security-ig/">UDAP Security</a>
    implementation guides by the FHIR at Scale Taskforce (FAST).
    You may not use this application with real person data, nor interface with applications that touch real person data. You may not use this application with real world patient data, nor
    interface with any application that touches real world patient or human data. You understand and agree that we will not be liable to you or any third party for any loss of profits, use,
    goodwill, or data, or for any incidental, indirect, special,  consequential or exemplary damages, however arising, that result from any use or any matter relating to this web application.
</p>

<p class="lead">
This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the fhir-secid-client.herokuapp.com website. This website also fulfills the privacy policy for a fully UDAP conformant client.
</p>

<p class="lead">
If you use this website you MUST be compliant to all the requirements listed here and consent us to collecting your information.
</p>

<p class="lead">
The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at <%= link_to welcome_terms_url %>, unless otherwise defined in this Privacy Policy.
</p>

<h3>Information Collection and Use</h3>

<p class="lead">We only collect minimal functional data needed for operating this application. No real world human or patient information may be entered in this application.</p>

<p class="lead">
For a better experience while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to your name, phone number, and postal address. The information that we collect will be used to contact or identify you.
</p>

<h3>Log Data</h3>

<p class="lead">
We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer's Internet Protocol address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
</p>

<h3 id="cookies">Cookies</h3>

<p class="lead">
Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer's hard drive. This application only uses cookies necessary for application to function.
</p>

<h3>Security</h3>

<p class="lead">
We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
</p>

<h3>Links to Other Sites</h3>

<p class="lead">
Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
</p>

<h3>Children's Privacy</h3>

<p class="lead">
Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
</p>

<h3>Changes to This Privacy Policy</h3>

<p class="lead">
We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.

<h3>Contact Us</h3>

<p class="lead">
If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us. See <a href="https://github.com/HL7-FAST/identity-matching-ri-client">our code repository</a> for more information.
</p>
