<h1 class="w-100 text-center">Terms & Conditions</h1>

<blockquote class="blockquote border-start border-5 border-danger rounded bg-light p-3 m-3 shadow">
    <h6>This application is solely for development and demonstration purposes.</h6>
</blockquote>

<p class="lead">
    This is a client reference implementation for
    <a href="https://build.fhir.org/ig/HL7/fhir-identity-matching-ig/index.html">Interoperable Digital Identity and Patient Matching</a>
    and
    <a href="https://build.fhir.org/ig/HL7/fhir-udap-security-ig/">UDAP Security</a>
    implementation guides by the FHIR at Scale Taskforce (FAST). You may
    may not use this application with real world patient data, nor interface with applications that touch real world patient data. You understand and
    agree that we will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special,
    consequential or exemplary damages, however arising, that result from any use or any matter relating to this web application.
</p>

<p class="lead">
    FHIR&reg; is a registered trademark of the HL7&reg; group.
</p>

<p class="lead">
    This application is open source under the Apache License, Version 2.0. You may view the source code and license at
    <a href="https://github.com/HL7-FAST/identity-matching-ri-client">https://github.com/HL7-FAST/identity-matching-ri-client</a>.
</p>
