<h1>Editing authority</h1>

<%= render "form", authority: @authority %>

<br>

<div>
  <%= link_to "Show this authority", @authority %> |
  <%= link_to "Back to authorities", authorities_path %>
</div>
