<h1>Trusted Certificate Authorities</h1>

<p>A proper identity matching or UDAP client must obtain a private key and certificate from an authority. Then UDAP resource servers and patient matching servers
will allow the clients access if the server providers trust the certificate authority.</p>

<div id="authorities">
  <% @authorities.each do |authority| %>
    <%= render authority %>
  <% end %>
</div>

<%= link_to "New authority", new_authority_path %>
